* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: #D9C4B0;
}

/* Top Navbar */
.top-navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #736fb0; /* purple bar */
}

/* Menu (hamburger) */
.menu i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.menu i:hover {
    color: #0aa1a1;
}

/* Logo */
.logo {
    height: 50px;
    width: 132px;
    background-image: url('/Assets/logo in white.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Search Bar */
.search {
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    background: #c9c9d9;
    border-radius: 20px;
    padding: 10px 10px;
    /* flex: 1; */
    /* max-width: 500px; */
    margin: 0 330px;
    /* flex-grow: 2; */
}

.search i {
    color: #555;
    margin-right: 8px;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 100px;
    font-size: 14px;
    color: #333;
}

/* Login Button */
.login-btn {
    background: #0d8686;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.login-btn:hover {
    background: #0aa1a1;
}

/* User Icon */
.fa-user {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 6px;
}

/* side panel styling */
.side-panel {
    height: 100%;
    width: 0;
    background: #313131;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20%;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-panel-header {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.side-panel-header i {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding-top: 13px;
}

.side-panel-header .logo {
    height: 80px;
    width: 132px;
    background-image: url('/Assets/logo in white.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.side-items {
    max-height: 600px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px 15px;
    flex-shrink: 0;

}

a {
    text-decoration: none;
}

.side-items a {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.side-items a:hover {
    color: #0aa1a1;
    text-decoration: none;
}


/*Footer CSS*/
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
}

footer.footer-bs {
    margin-top: auto;
    padding-bottom: 0;
    border-radius: 0;
}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

/* back button */
.back-button {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 994;
}

.back-button a {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.back-button a:hover {
    background-color: #0d8686;
    color: white;
    text-decoration: none;
}